body {
    background: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
  }

  .bg {
    height: 100vh;
    width: 100vw;
  }
  
  .blue {
    background: #4d88cc;
  }
  
  .black {
    background: #292f36;
  }
  
  .white {
    background: white;
  }