/*
    RESET
    Reset found @ https://alligator.io/css/minimal-css-reset/
*/
html{box-sizing:border-box;font-size:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;
    font-smoothing:antialiased;text-rendering:optimizeLegibility;}*,*:before,*:after{box-sizing:inherit;}
    body,h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0;padding:0;font-weight:normal;}ol,ul{list-style: none;}img{max-width:100%;
    height: auto;}
 /* RESET */

// change these values to customize your new
// responsive navigation
$nav-font: 'Open Sans', Arial, Helvetica, Times, sans-serif;
$nav-company-font: $nav-font;
$nav-bg-color: #292f36;
$nav-item-color: #f7faff;
$nav-active-bg-color: $nav-bg-color;
$nav-company-color: $nav-item-color;
$nav-trigger-bg-color: $nav-item-color;
$nav-scrolled-bg-color: #6bb0ff;
$nav-anim-behavior: ease-in-out;
$nav-anim-duration: 0.5s;
$nav-company-text-transform: uppercase;
$nav-text-transform: uppercase;
$nav-item-letter-space: 3px;
$nav-font-size: 1.5em;
$nav-font-weight: bold;
$nav-vertical-padding: 1em;
$nav-horizontal-padding: 0.5em;
$nav-link-hover-color: $nav-item-color;
$nav-list-align: flex-start; /* align items flex property on mobile */
$nav-scrolled-padding: 10px;
$nav-breakpoint: 768px;